<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AraçBakımSistemi</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/AspProject1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/tailwindcss/tailwind.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>

    </style>
</head>

<body class="bg-gray-100 flex roboto" style="background-color: rgb(34, 33, 33);">

   <aside class="sidebar w-64 text-white p-4 h-screen rounded-tr-3xl rounded-br-3xl" style="background-color: #333333;">
    <h1 class="text-3xl mb-2  text-center sidebar-item mt-4" style="font-weight: bold;">Bakım Yönetim Sistemi </h1>
    <div class="space-y-2 rounded-2xl p-2 text-center mt-8">
        <a asp-controller="Home" asp-action="Main" class="sidebar-item">
            <h1 class="text-2xl rounded-2xl font-semibold mb-4 mt-16">
                <i class="fa-solid fa-house"></i> Ana Menü
            </h1>
        </a>
    </div>

    <div class="space-y-2 rounded-2xl p-2 text-center mt-2">
        <a asp-controller="Arac" asp-action="Giris" class="sidebar-item">
            <h1 class="text-3xl"><i class="fa-solid fa-car-side"></i> Araç Girişi </h1>
        </a>
    </div>
    <div class="space-y-2 rounded-2xl p-2 text-center mt-4">
        <a asp-controller="Arac" asp-action="Liste" class="sidebar-item">
            <h1 class="text-2xl"><i class="fa-solid fa-list"></i> Araç Listesi </h1>
        </a>
    </div>
    <div class="space-y-2 rounded-2xl p-2 text-center mt-4">
        <a asp-controller="Bakim" asp-action="Bakim" class="sidebar-item">
            <h1 class="text-2xl"><i class="fa-solid fa-dollar-sign"></i> Bakım fiyatları </h1>
        </a>
    </div>
    <div class="space-y-2 rounded-2xl p-2 text-center mt-4">
        <a asp-controller="Islem" asp-action="Index" class="sidebar-item">
            <h1 class="text-3xl"><i class="fa-solid fa-gear"></i> İşlemler </h1>
        </a>
    </div>
</aside>

    <div class="main-container flex-1">
        <main class="p-4">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>