@model AspProject1.Models.Araclar

@{
    ViewData["Title"] = "Araç Giriş";
}

<h2 class="font-bold text-center">Araç Girişi</h2>
<hr />
<br />

<form asp-action="AracEkle" method="post">
    <div class="font-bold">
    <div class="form-group ">
        <label asp-for="Plaka" class="control-label"></label>
        <input asp-for="Plaka" class="form-control" />
        <span asp-validation-for="Plaka" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Marka" class="control-label"></label>
        <input asp-for="Marka" class="form-control" />
        <span asp-validation-for="Marka" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model" class="control-label"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Yil" class="control-label"></label>
        <input asp-for="Yil" class="form-control" type="number" />
        <span asp-validation-for="Yil" class="text-danger"></span>
    </div>
        <div class="form-group">
            <label asp-for="BakimNotu" class="control-label"></label>
            <input asp-for="BakimNotu" class="form-control" />
            <span asp-validation-for="BakimNotu" class="text-danger"></span>
        </div>
    <div class="form-group">
        <label asp-for="MusteriAdi" class="control-label"></label>
        <input asp-for="MusteriAdi" class="form-control" />
        <span asp-validation-for="MusteriAdi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefon" class="control-label"></label>
        <input asp-for="Telefon" class="form-control" />
        <span asp-validation-for="Telefon" class="text-danger"></span>
    </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary bg-indigo-600">Kaydet</button>
</form>
