@model AspProject1.Models.Araclar

@{
    ViewData["Title"] = "Araç Giriş";
}
<div class=" rounded-3xl gap-2 p-3 mb-0 text-white mt-30" style="background-color: #676868; height:700px; width:1000px;">
<h2 class="font-bold text-center text-2xl mt-2">Araç Girişi </h2>


<br />

<form asp-action="AracEkle" method="post">
    <div class="font-bold ">
    <div class="form-group ">
        <label asp-for="Plaka" class="control-label"></label>
        <input asp-for="Plaka" class="form-control mb-3 rounded-3xl" required />
        <span asp-validation-for="Plaka" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Marka" class="control-label"></label>
        <input asp-for="Marka" class="form-control mb-3 rounded-3xl" required />
        <span asp-validation-for="Marka" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model" class="control-label"></label>
        <input asp-for="Model" class="form-control mb-3 rounded-3xl" required/>
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Yil" class="control-label"></label>
        <input asp-for="Yil" class="form-control mb-3 rounded-3xl" type="number" required/>
        <span asp-validation-for="Yil" class="text-danger"></span>
    </div>
        <div class="form-group">
            <h1>Bakım Notu</h1>
            <input asp-for="BakimNotu" class="form-control mb-3 rounded-3xl" required/>
            <span asp-validation-for="BakimNotu" class="text-danger"></span>
        </div>
    <div class="form-group">
        <h1>Müşteri Adı</h1>
        <input asp-for="MusteriAdi" class="form-control mb-3 rounded-3xl" required/>
        <span asp-validation-for="MusteriAdi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefon" class="control-label"></label>
        <input asp-for="Telefon" class="form-control mb-3 rounded-3xl" required/>
        <span asp-validation-for="Telefon" class="text-danger"></span>
    </div>
    </div>
    <br />
    <div class="text-center">
    <button type="submit" class="btn btn-primary bg-blue-500 rounded-3xl text-2xl mb-2" >Kaydet</button>
    
    </div>
</form>


</div>