@model List<AspProject1.Models.BakimFiyatlari>

@{
    ViewData["Title"] = "Bakım Fiyatları";
}
<div class="text-center">
    <h1>Bakım fiyatları Eklenecek</h1>
    <a href="@Url.Action("BakimEkle", "Bakim")" class="btn btn-primary">Bakım Ekleme ekranına git</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Bakım Adı</th>
            <th>Ücret</th>
            <th>Aciklama</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bakim in Model)
        {
            <tr>
                <td>@bakim.BakimAdi</td>
                <td>@bakim.Ucret.ToString("C")</td>
                <td>@bakim.Aciklama</td>
            </tr>
        }
    </tbody>
</table>